body {
            font-family: Arial, sans-serif;
            padding: 20px;
        }
        .theme-card {
            border: 1px solid #ddd;
            border-radius: 8px;
            padding: 10px;
            text-align: center;
        }
        .theme-card img {
            width: 100%;
            border-radius: 5px;
        }
        .theme-card .btn {
            margin-top: 10px;
        }
        .selected {
            border: 2px solid gray;
        }
        .img2{
            height: 33vh;
        }
        .imgflex{
            margin: 10px 0;
            display: flex;
            justify-content: center;
            gap: 5px;
        }
        .imgflex img{
            width: 13vw;
            height: 19vh;
            border-radius: 5px;
        }
        .uimage{
           height: 33vh;
        }
        .bold{
            font-weight: bold;
        }
        .text{
            font-weight: lighter;
            font-size: 1vw;
            color: black;
        }
        .ubtn{
            width:10vw ;
        }